<table>
	<tr>
		<th>Estadisticas</th>
		<th>Total</th>
	</tr>
	<tr>
		<td>Número de preguntas</td>
		<td><%=quiz%></td>
	</tr>
	<tr>
                <td>Número de comentarios</td>
                <td><%=comment%></td>
        </tr>
	<tr>
                <td>Avg comentarios por pregunta</td>
                <td><%=avg%></td>
        </tr>
	<tr>
                <td>Número de preguntas con comentarios</td>
                <td><%=quizcomment%></td>
        </tr>
	<tr>
                <td>Número de preguntas sin comentarios</td>
                <td><%=quiznocomment%></td>
        </tr>
</table>
